<html>

<head>
  <script src="https://accounts.google.com/gsi/client" async defer></script>
</head>

<body>
  <script>
    function handleCredentialResponse(response) {
      console.log("Encoded JWT ID token: " + response.credential);
      var elem = document.getElementById("buttonDiv");

      fetch('http://localhost:5555/dashboard', {
        method: 'POST', // or 'PUT'
        headers: {
          'Authorization': response.credential,
        },
        body: "",
      })
        .then((response) => response.text())
        .then((data) => {
          console.log('Success:', data);
          elem.innerHTML = data
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }
    window.onload = function () {
      google.accounts.id.initialize({
        client_id: "467776127055-363m6s1isc7q4imd08e60mnolbdovk4m.apps.googleusercontent.com",
        callback: handleCredentialResponse
      });
      google.accounts.id.renderButton(
        document.getElementById("buttonDiv"),
        { theme: "outline", size: "large" }  // customization attributes
      );
      // google.accounts.id.prompt(); // also display the One Tap dialog
    }
  </script>
  <div id="buttonDiv"></div>
</body>

</html>